.project_wrapper {
  @include background-image-set("../webd.svg");
  height: 100vh;
  overflow-y: scroll;
  .main_content_project > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 70px;
    .avatar_image {
      width: 200px;
      height: 200px;
      margin-bottom: 30px;
    }
    .avatar_image > img {
      width: 200px;
      height: 200px;
    }
    .repos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 100px;
      a {
        &.card {
          padding: 20px;
          background-color: map-get($color-pallete, faded);
          color: map-get($color-pallete, warning);
          @include emboss(darken(map-get($map: $color-pallete, $key: danger),5%), 0.1);
          height: 200px;
          width: 230px;
          margin: 3px;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-decoration: none;
          position: relative;
          transition: ease-in-out;
          z-index: 3;
        }
        &.card:hover {
          bottom: 2px;
        }
        &.card:before {
          position: absolute;
          font-family: "FontAwesome";
          font-size: 100px;
          text-align: center;
          top: 40px;
          content: "\f121";
          color: lighten(map-get($map: $color-pallete, $key: info), 10%);
          z-index: -1;
        }
      }
    }
  }
}
